body {
    height: 1000px;
}
.header {
    height: 60px;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #161c1c;
}

.header__logo {
    margin-top: 18px;
    margin: 0px 20px;
    width: 100px;
    object-fit: contain;
}

.header__delivery {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
}

.header__deliveryLogo {
    color: #FFFFFF;
}

.header__search {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    min-width: 200px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 7px 0px 0px 7px;
}

.header__searchLogo {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
    border:none;
    border-radius: 0px 7px 7px 0px;
}

.header__searchLogo:hover {
    background-color: rgba(205, 144, 66, 0.9);
    transition: 0.2s;
    cursor: pointer;
}

.header__nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0px 10px;
}

.header__navLanguage {
    margin: 0px 3px;
    display: flex;
    padding-top: 5px;
    width: 60px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: border-color 0.18s ease, transform 0.12s ease;
}

.header__navLanguage:hover {
    border-color: #FFFFFF;
    cursor: pointer;
}

.header__navLanguageLogo {
    font-size: 20px;
}

.header__navLanguageText {
    margin-left: 5px;
    font-size: 15px;
    color: #FFFFFF;
    padding-bottom: 6px;
    font-weight: bold;
}
.header__option {
    display: flex;
    margin-left: 10px;
    padding: 10px 5px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid transparent;
    transition: border-color 0.18s ease, transform 0.12s ease;
}

.header__option:hover {
    border-color: #FFFFFF;
    cursor: pointer; 
}

.header__optionLineOne {
    color: #FFFFFF;
    font-size: 12px;
}
.header__optionLineTwo {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}